{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container text-center position-relative">
    <h1 class="fw-bold  mb-3">Quiénes Somos</h1>
    <p class="lead ">
      Construyendo educación con valores, inclusión y comunidad
    </p>
</div>

<!-- ☁ NUESTRA HISTORIA -->
<!-- 🌤 HERO CIELO -->
<section class="cloud-section">
  <div class="container position-relative">


  <div class="cloud cloud-1"></div>
  <div class="cloud cloud-2"></div>
  <div class="cloud cloud-3"></div>
    <div class="row align-items-center g-5">

      <div class="col-md-6">
        <h2 class="fw-bold mb-3 ">Nuestra Historia</h2>
        <p class="text-muted">
          La Escuela Voces de Pudahuel nace con el compromiso de entregar
          una educación inclusiva, promoviendo el respeto, la diversidad
          y el desarrollo integral de nuestros estudiantes.
        </p>
        <p class="text-muted">
          Nuestra historia se construye día a día junto a familias,
          docentes y estudiantes que creen en una educación con sentido.
        </p>
      </div>

      <div class="col-md-6">
        <div class="cloud-box shadow-sm">
          <img src="{% static 'img/escuelavoces.jpg' %}" class="img-fluid rounded-4">
        </div>
      </div>

    </div>
    <!-- titulo nuestra comunidad   -->
    <div class="text-center mb-5">
          <h2 class="section-title">Nuestra Comunidad Educativa</h2>
          <p class="section-subtitle">
            Crecemos juntos con amor, inclusión y aprendizaje
          </p>
    </div>

    <!-- Sección nubes  -->
    <div class="container py-5">
        <div class="row text-center">
            <!-- Games -->
            <!-- Tarjeta 1 -->
                <div class="col-md-4">
                    <div class="cloud-card text-center p-4">          
                        <img src="{% static 'img/ninos1.png' %}" class="feature-icon" alt="">
                        <h3 class="feature-title">🎯 Nuestra Misión</h3>
                        <p class="feature-text">Formar personas íntegras, críticas y comprometidas con su comunidad,
                  promoviendo una educación inclusiva, participativa y llena de valores.</p>
                        <button class="kiddie-btn mt-3">Más...</button>
                    </div>
                </div>
            <!-- Activities -->
            <div class="col-md-4">
                    <div class="cloud-card2 text-center p-4">
                    <img src="" class="feature-icon">
                    <h3 class="feature-title"></h3>
                    <p class="feature-text">
                        
                    </p>                
                </div>
            </div>
            <!-- Education -->
            <div class="col-md-4">
                    <div class="cloud-card text-center p-4">
                    <img src="{% static 'img/nino3.png' %}" class="feature-icon">
                    <h3 class="feature-title">🌱 Nuestra Visión</h3>
                    <p class="feature-text">
                      Formar personas íntegras, críticas y comprometidas con su comunidad,
                  promoviendo una educación inclusiva, participativa y llena de valores.
                    </p>
                    <button class="kiddie-btn mt-3">Mas...</button>
                    </div>
            </div>
        </div>
    </div>

</div>
</section>




{% endblock %}
